<div class="flex flex-col text-center mt-10">
  <span class="text-4xl mb-5 text-white">Iniciar sesión</span>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input #user type="text" matInput placeholder="Nombre de usuario">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input #pass type="password" matInput placeholder="Contraseña">
  </mat-form-field>
  <button type="button" (click)="onLogin()" mat-fab extended>
    <mat-icon>login</mat-icon>
    Entrar
  </button>
  <div class="flex justify-end mt-5">
    <p class="text-red-900">¿No tienes cuenta? </p> &nbsp;
    <a class="text-black hover:underline" routerLink="/auth/register">Registrarse</a>
  </div>
</div>

